<div class="about-section">
    <h1>Сторінка про нас</h1>
    <p>Ця сторінка була розроблена для виконання лаб 3 з інформаційних мереж.</p>
  </div>
  
  <h2 style="text-align:center">Наша команда</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">Секретар</p>
          <p>Відповість вам на всі запитання.</p>
          <p>jane@example.com</p>
          <p><button class="button">Зв'язатись</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Механік</p>
          <p>Вирішить всі ваші неполадки.</p>
          <p>mike@example.com</p>
          <p><button class="button">Зв'язатись</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Власник компанії</p>
          <p>Дбає про якісний сервіс.</p>
          <p>john@example.com</p>
          <p><button class="button">Зв'язатись</button></p>
        </div>
      </div>
    </div>
  </div>